body
{
    margin: 0px;
    padding: 0px;
    font-style:Arial,Tahoma;
    font-size: 20px;
    background-color: black;
    color: white;

}
header
{
    background-color: black;

}
nav
{
    background-color: rgb(107, 92, 9);
    text-align: left;    
    
}
ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul li
{
    display: inline-block;
    padding: 10px;
}
ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
a:hover
{
    color: red;
}
a:active
{
    color: purple;
}


aside
 {
    width: 26%;
    float: right;
}
aside a
{
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    line-height: 65px;
    color: #0a7275;
}
footer
{
    background: rgb(107, 92, 9);

    color: white;
    text-align: left;
    padding: 15px ;
    margin: 0px;
}
section
{
    background-color:rgb(6, 19, 82) ;
    margin-top: 20px;
    padding-bottom: 30px;
    padding: 15px;

}
footer aside a
{
    color: white;

}
h3
{
    color: red;
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;

}
figcaption{
    text-align:center ;
}
#foot
{
    width: 40%;
    float: right;
}
